* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

.app {
	height: 100vh;
}

a {
	text-decoration: none;
	color: #fff;
}

ul {
	list-style: none;
}

nav {
	background-color: #2b2d42;
	padding: 1rem;
}

nav ul {
	display: flex;
	gap: 3rem;
	justify-content: center;
	font-weight: bold;
	font-size: 1.6rem;
}

.form {
	background-color: rgb(231, 227, 227);
	padding: 1rem;
	border-radius: 5px;
	margin: 1rem;
	position: relative;
	top: 50%;
	transform: translate(0, -60%);
}

.form h1 {
	font-size: 2rem;
	text-align: center;
	margin-bottom: 1rem;
}

.form div {
	display: flex;
	flex-direction: column;
}

label {
	margin-bottom: 1rem;
	font-size: 1.3rem;
}

input {
	margin-bottom: 1rem;
	padding: 0.5rem;
	border-radius: 5px;
	font-size: 1.3rem;
}

.form button {
	width: 100%;
	padding: 0.8rem;
	border-radius: 5px;
	border: none;
	background-color: #2b2d42;
	color: #fff;
	font-weight: bold;
	font-size: 1.6rem;
}

@media screen and (min-width: 600px) {
	.form {
		width: 40rem;
		left: 50%;
		transform: translate(-50%, -60%);
	}

	.form h1 {
		font-size: 2.5rem;
	}

	nav ul {
		font-size: 2rem;
	}

	input,
	label {
		font-size: 1.6rem;
	}

	.form button {
		font-size: 2rem;
	}
}
